/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1601)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [GuestBook]    Script Date: 11/23/2017 4:47:50 PM ******/
CREATE DATABASE [GuestBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GuestBook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\GuestBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GuestBook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\GuestBook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GuestBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GuestBook]
GO
USE [GuestBook]
GO
/****** Object:  Table [dbo].[GuestBook]    Script Date: 11/23/2017 4:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestBook](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_GuestBook] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GuestBook] ON 

INSERT [dbo].[GuestBook] ([ID], [Name], [Message]) VALUES (13, N'trungntm', N'HelloCong')
INSERT [dbo].[GuestBook] ([ID], [Name], [Message]) VALUES (17, N'Cong trinh van', N'123')
SET IDENTITY_INSERT [dbo].[GuestBook] OFF
/****** Object:  StoredProcedure [dbo].[spDeleteGuestBook]    Script Date: 11/23/2017 4:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spDeleteGuestBook](@ID int)
as
begin
	delete from GuestBook where ID=@ID
end

GO
/****** Object:  StoredProcedure [dbo].[spInsertGuestBook]    Script Date: 11/23/2017 4:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spInsertGuestBook](

@Name nvarchar(50),
@Message nvarchar(MAX))
AS
BEGIN
	insert into GuestBook values(@Name,@Message)  
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateGuestBook]    Script Date: 11/23/2017 4:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spUpdateGuestBook](
@ID int,
@Name nvarchar(50),
@Message nvarchar(MAX))
AS
BEGIN
	update GuestBook set Name=@Name where ID=@ID
	update GuestBook set Message=@Message where ID=@ID 
END
GO
USE [master]
GO
